In [1]:
import pandas as pd
import import_ipynb
from basic import *

df = pd.read_csv('./dataset/2023bigcontest_advanced_sac.csv')
df.head()

importing Jupyter notebook from basic.ipynb

,age,gender,membership_type_1,membership_type_2,membership_type_3,membership_type_4,membership_type_5,membership_type_6,tran_date,tran_time,play_date,play_st_time,seat,price,ticket_cancel,discount_type,performance_code,pre_open_date,open_date,genre,place,running_time,intermission,member_yn
0,50.0,F,골드,무료,그린,NaN,NaN,NaN,20220114,1512,20220204,2000,3층 BOX9 10,10000,2,일반,302,20220114.0,20220115.0,교향곡,콘서트홀,120,15,Y
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20211003,1550,20211009,2000,1층 7열 5,0,0,초대권,1120,NaN,20210823.0,독주,리사이틀홀,90,15,N
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20220917,1520,20221105,2000,1층 C블록 16열 3,0,0,초대권,2283,20220911.0,20220911.0,독주,IBK챔버홀,80,15,N
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20190630,1132,20190731,2000,1층 2열 3,0,0,초대권,2798,NaN,20190701.0,독주,리사이틀홀,90,15,N
4,50.0,M,무료,NaN,NaN,NaN,NaN,NaN,20220206,1615,20220302,1930,1층 B블록12열 7,180000,0,일반,897,20220109.0,20220110.0,독주,콘서트홀,90,0,Y

In [5]:
df1 = tran_rank_dense(date_preprocess(df))
df2 = sep_discount(sep_seat(df1))
df3 = error_member_yn(df2)
df4 = membership_col_make(labeling(df3))
df5 = genre_nan(age_nan(df4))

KeyError: 24

In [3]:
df2.sample(5)

,age,gender,membership_type_1,membership_type_2,membership_type_3,membership_type_4,membership_type_5,membership_type_6,price,ticket_cancel,performance_code,pre_open_date,open_date,genre,place,running_time,intermission,member_yn,tran,tran_day,play,play_day,tran_rank,seat_floor,seat_block,seat_col,seat_num,discount_name,discount_rate
672371,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,1071,1,2022-05-15,독주,리사이틀홀,90,15,N,2022-06-06 16:06:00,월요일,2022-06-12 16:06:00,일요일,10.0,1,-1,10,7,초대권,100
1586921,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,330,1,2019-08-09,실내악,IBK챔버홀,100,15,N,2019-09-11 19:34:00,수요일,2019-09-15 19:34:00,일요일,24.0,1,B,9,6,초대권,100
399858,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,2418,1,2018-12-03,독주,IBK챔버홀,90,15,N,2018-12-09 17:03:00,일요일,2018-12-16 17:03:00,일요일,3.0,1,C,5,1,초대권,100
45932,10.0,M,골드,무료,싹틔우미,NaN,NaN,NaN,140000,0,877,1,2021-04-10,교향곡,콘서트홀,120,15,Y,2021-05-13 22:41:00,목요일,2021-06-05 22:41:00,토요일,101.0,1,C,17,13,골드회원 할인,30
1312273,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,2,2592,0,2023-05-06,실내악,리사이틀홀,90,15,N,2023-05-26 12:59:00,금요일,2023-05-30 12:59:00,화요일,26.0,2,-1,3,12,기획사판매,100

In [4]:
df2.isnull().sum()

age                  1293146
gender               1292735
membership_type_1    1292735
membership_type_2    1423688
membership_type_3    1731887
membership_type_4    1871338
membership_type_5    1899835
membership_type_6    1901085
price                      0
ticket_cancel              0
performance_code           0
pre_open_date              0
open_date                340
genre                  25574
place                      0
running_time               0
intermission               0
member_yn                  0
tran                       0
tran_day                   0
play                       0
play_day                   0
tran_rank                  0
seat_floor                 0
seat_block                 0
seat_col                   0
seat_num                   0
discount_name              0
discount_rate              0
dtype: int64

In [ ]:
# csv로 저장
df??.to_csv('sac_ver01.csv',index='False')

In [ ]:
# df04.query('`place` == "콘서트홀" and `performance_code` == 302 and `discount_rate(%)` == "0"').price.unique()

array([ 10000,  50000, 120000,  90000], dtype=int64)

In [ ]:
# df04.query('`genre` != `genre`')['performance_code'].unique()

array([ 229, 2818,  352, 1221, 2816, 2819,  988, 2215,   47,  588,  852,
       1405, 2937,  354, 2472, 1751], dtype=int64)

In [ ]:
# df04.performance_code.nunique()

2931